# インポート

In [18]:
import preprocessing
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
%autoreload

#　レース結果テーブルの前処理

In [9]:
#レース結果テーブルの前処理
results_preprocessd = preprocessing.process_results()

In [13]:
# 重複チェック
results_preprocessd.duplicated(subset=["race_id", "horse_id"]).sum()

np.int64(0)

In [15]:
# 欠損チェック
results_preprocessd.isnull().sum()

race_id        0
horse_id       0
jockey_id      0
trainer_id     0
owner_id       0
rank           0
umaban         0
wakuban        0
tansyo_odds    0
popularity     0
kinryou        0
sex            0
age            0
weight         0
weight_diff    0
dtype: int64

In [32]:
horse_results_preprocessd = preprocessing.process_horse_results()

In [33]:
horse_results_preprocessd

,horse_id,date,rank,prize,rank_diff,weather,race_type,course_len,ground_condition,race_class,n_horses
0,2021101429,2024-11-09,9.0,0.0,0.2,0.0,1,1400,0.0,4.0,14
1,2021101429,2024-10-06,1.0,1140.0,0.0,1.0,1,1400,0.0,3.0,13
2,2021101429,2024-09-01,2.0,625.2,0.4,0.0,1,1400,0.0,5.0,7
3,2021101429,2024-08-10,2.0,629.2,0.0,0.0,1,1400,0.0,5.0,14
4,2021101429,2024-04-06,13.0,0.0,0.9,1.0,1,1600,1.0,7.0,16
...,...,...,...,...,...,...,...,...,...,...,...
212935,2020102750,2023-12-27,1.0,40.0,0.0,0.0,0,1400,0.0,NaN,7
212936,2020102750,2023-12-06,3.0,8.0,0.4,0.0,0,1400,0.0,NaN,8
212937,2020102750,2023-11-07,5.0,2.0,2.3,1.0,0,800,2.0,NaN,7
212938,2020102750,2023-09-03,14.0,0.0,3.4,0.0,0,1700,0.0,1.0,16
212939,2020106159,2023-09-03,16.0,0.0,5.8,0.0,0,1700,0.0,1.0,16

In [34]:
horse_results_preprocessd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 210581 entries, 0 to 212939
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   horse_id          210581 non-null  int64
 1   date              210581 non-null  datetime64[ns]
 2   rank              210581 non-null  float64
 3   prize             210581 non-null  float64
 4   rank_diff         210321 non-null  float64
 5   weather           210362 non-null  float64
 6   race_type         210581 non-null  int64
 7   course_len        210581 non-null  int64
 8   ground_condition  210577 non-null  float64
 9   race_class        150050 non-null  float64
 10  n_horses          210581 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(4)
memory usage: 19.3 MB

## 払い戻しテーブル加工

In [2]:
import preprocessing

In [3]:
return_tables_preprocessd = preprocessing.process_return_tables()

In [4]:
return_tables_preprocessd

             bet_type      umaban  return
race_id
202301010101       単勝         [5]     120
202301010101       複勝         [5]     100
202301010101       複勝         [8]     110
202301010101       複勝         [6]     310
202301010101       馬連      [5, 8]     170
...               ...         ...     ...
202310030812      ワイド      [6, 8]     410
202310030812      ワイド     [6, 11]     470
202310030812       馬単     [8, 11]    1580
202310030812      三連複  [6, 8, 11]    1590
202310030812      三連単  [8, 11, 6]    6860

[41286 rows x 3 columns]

# 特徴量エンジニアリングの実行

In [1]:
from feature_producing import FeatureMaker

In [2]:
fm = FeatureMaker()

In [3]:
fm.make_features()

            race_id    horse_id  ... rank_1000races  prize_1000races
0      202301010101  2021100648  ...       4.500000        77.500000
1      202301010101  2021100159  ...       8.000000         0.000000
2      202301010101  2021100265  ...       5.000000        72.000000
3      202301010101  2021105553  ...       4.000000       110.000000
4      202301010101  2021101429  ...       2.000000       290.000000
...             ...         ...  ...            ...              ...
47268  202310030812  2019102542  ...       5.058824       102.823529
47269  202310030812  2020103754  ...       6.125000        90.625000
47270  202310030812  2020100400  ...       8.800000         0.000000
47271  202310030812  2020103663  ...       5.666667       123.222222
47272  202310030812  2017104623  ...       6.416667        51.666667

[47273 rows x 31 columns]